<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jotform.jotformapisample"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.jotform.jotformapisample.model.SharedData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jotform.jotformapisample.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.SampleListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.GetAllFormsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.GetAllSubmissionsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.CreateFormActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.CreateSubmissionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.CreateReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.RegisterUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.GetAllReportsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jotform.jotformapisample.list.CreateQuestionActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>